<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  {% feed_meta %}

  {% include favicon.html %}

  <meta itemprop="name" content="Charles Korn" id="authorName" />
  <meta itemprop="url" content="{{ site.baseurl | prepend: site.url }}" id="authorUrl" />

  {% seo title=false %}
</head>
